/*
Student: JingYi Li, Wei Deng
File Name: blogstyle.css
Date of creating: Nov 17 2023
Description: This is for styling all pages.
Written by: JingYi Li
*/
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;700&display=swap');

/* primary structure */
html {
  background-color: #FEFAEF;
  font-family: 'Varta', sans-serif;
  height: 100%;
  width: 100%;
  padding: auto;
}

body {
  margin: 1%;
  padding: 0;
}

#content {
  width: 60%;
  min-height: 500px;
  padding: 0 20px; 
  margin: 0 auto;
}

/* login style */
body.login {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
    background-color: #FEFAEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textfield {
  font-size: 20px;
  margin-bottom: 10px;
}

.textfield > input {
  display: block;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 5px;
  padding: 7px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.error-message {
  font-size: 15px;
}

.button {
  color: white;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 15px;
  padding: 5px 15px;
  background-color: #FC5B3F;
  box-shadow: none; 
  border: none; 
}

/* header style */
header {
  width: 100%;
  height: 80px;
  margin: 0 0 30px 0;
  padding-top: 30px;
  color: black;
  text-align: center;
}

header h1 {
  font-size: 50px;
  text-align: center;
}

navigation {
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
}

navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

navigation ul li {
  display: inline;
  margin-right: 2em;
}

navigation ul li a {
  text-decoration: none;
  color: #FC5B3F;
}

navigation ul li a:hover {
  text-decoration: none;
  color: #938C86;
}

#content {
  width: 920px;
  min-height: 500px;
  padding: 0 30px;
}

/* footer */

footer {
  width: 100%;
  height: 30px;
  margin-top: 80px; 
  padding-bottom: 30px;
  color: rgb(170, 170, 170);
  text-align: left;
}

/* Actions */

.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

/* Table */
table {
  width: 98%; /* can use min(1200px, 98%) */
  border-collapse: collapse;
  vertical-align: top;
  padding: 1%;
}

table.list {
  max-width: 100%;
  overflow-x: auto;
}

table.list tr:nth-of-type(2n) {
  background: rgba(255, 255, 255, 0.603); 
}

table.list tr:nth-of-type(2n+1) {
  background: rgba(255, 241, 193, 0.603); 
}

table.list tr td {
  border: 0.5px solid #1a1a1a;
  text-align: center;
}

table.list tr th {
  border: 0.5px solid #1a1a1a;
  background: #FC5B3F;
  color: white;
  padding: 5px 5px;
}

div.page.show {
  margin-top: 50px;
}

/* Action */
.action {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.action-display {
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: #4CAF50; /* Green */
}

.action-edit {
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: #008CBA; /* Blue */
}

.action-remove {
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: #FF0000; /* Red */
}

/* Forms */
dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 80px;
}

dd {
  width: 500px;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/* Filter */
.filter {
  margin-top: 50px;
  margin-bottom: 20px;
}

.filter label {
  font-weight: bold;
}

.filter ul {
  list-style: none;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0;
}

.filter li {
  display: inline-block;
  margin-right: 10px;
}

.filter a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.filter a:hover {
  background-color: #eee;
}

/* Links */
.actions > a {
  font-size: 15px;
  text-decoration: none;
  color: #5a5a5a;
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  padding: 3px 10px;
  margin: 0;
  margin-bottom: 8px;
}

/* Search */
.searching {
  margin-top: 40px;
}

.searching > input {
  display: block;
  width: 300px;
  margin: 10px 0;
  margin-bottom: 30px;
  padding: 10px 25px;
  border: 1px solid #ccc; 
  border-radius: 20px;
}

.add-post, .search-form {
  margin-right: 20px;
}

.search-form {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.search-label {
  font-weight: bold;
  margin-right: 10px;
}

.search-input {
  width: 200px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-submit {
  background-color: #c1c1c1;
  color: white;
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.search-submit:hover {
  background-color: #D33A26;
}

/* Errors */
.error-message {
  display: inline;
  color: red;
}

.textfield.error > input {
  border: 1px solid red; 
}

/* Responsive for middle screens */
@media (max-width: 800px) {
  /* header and nav */
  header {
    height: auto;
    padding-top: 15px; 
  }

  header h1 {
    font-size: 30px; 
  }

  #content, .filter, table {
    width: 95%; 
  }

  /* table */
  .list th {
    display: none;
  }

  .list td {
    display: block;
    padding: 5px 10px;
  }

  /* add a new post */
  .actions > a {
    margin-bottom: 2px;
  }

  /* Search */
  .add-post, .search-form {
    margin-right: 30px;
    }
}

/* Responsive for phone-sized screens */
@media (max-width: 370px) {
  /* header and nav */
  header {
    height: auto; 
    padding-top: 15px;
  }

  header h1 {
    font-size: 30px; 
  }

  navigation ul li {
    display: block; 
    margin-right: 0; 
    margin-bottom: 10px; 
  }
  
  #content, .filter, table {
    width: 90%; 
  }
  
  /* table */
  .list th {
    display: none;
  }

  .list td {
    display: block;
    padding: 5px 10px;
  }

  /* add a new post */
  .actions > a {
    margin-bottom: 2px;
  }

  /* Search form style */
  .add-post, .search-form {
  margin-right: 30px;
  }
}
