@import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;700&display=swap');

html {
  background-color: #FEFAEF;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Varta', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* login style */
.login {
    background-color: #FEFAEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Varta', sans-serif;
}

.textfield {
  font-size: 20px;
  margin-bottom: 10px;
}

.textfield > input {
  display: block;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 5px;
  padding: 7px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.error-message {
  font-size: 15px;
}

.button {
  color: white;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 15px;
  padding: 5px 15px;
  background-color: #FC5B3F;
  box-shadow: none; 
  border: none; 
}

/* searching style */
.searching {
  margin-top: 40px;
}

.searching > input {
  display: block;
  width: 300px;
  margin: 10px 0;
  margin-bottom: 30px;
  padding: 10px 25px;
  border: 1px solid #ccc; 
  border-radius: 20px;
}

/* header style */
header {
  width: 100%;
  height: 80px;
  margin: 0 0 30px 0;
  padding-top: 30px;
  color: black;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 0 20px;
  font-size: 50px;
  font-family: 'Varta', sans-serif;
  text-align: center;
}

navigation {
  text-decoration: none;
  width: 60%;
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
}

navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

navigation ul li {
  display: inline;
  margin-right: 2em;
}

navigation ul li a {
  text-decoration: none;
  color: #FC5B3F;
}

navigation ul li a:hover {
  text-decoration: none;
  color: #938C86;
}

#content {
  width: 920px;
  min-height: 500px;
  padding: 0 30px;
}

/* footer {
  display: flex;
  width: 100%; 
  height: 30px;
  margin: 0 auto;
  color: black;
  text-align: center;
} */

footer {
  width: 100%;
  height: 30px;
  margin-top: 80px; /* Push the footer to the bottom */
  padding-bottom: 30px;
  color: rgb(170, 170, 170);
  text-align: left;
}

/* Actions */

.actions {
  margin-bottom: 1em;
}


/* Lists */

table {
  border-collapse: collapse;
  vertical-align: top;
}

table.list {
  width: 100%;
}

table.list tr td {
  border: 1px solid #999999;
}

table.list tr th {
  border: 1px solid #FEFAEF;
  background: #FC5B3F;
  color: white;
  text-align: left;
}

/* Add a class for the action links */
.action {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff; /* Text color */
}

/* Define different background colors for different actions */
.action-display {
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: #4CAF50; /* Green */
}

.action-edit {
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: #008CBA; /* Blue */
}

.action-remove {
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: #FF0000; /* Red */
}

/* Forms */

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 80px;
}

dd {
  width: 500px;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/**/

.actions > a {
  font-size: 15px;
  text-decoration: none;
  color: #5a5a5a;
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  padding: 3px 10px;
  margin-bottom: 20px;
}


/* Errors */

/* .errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
} */

.error-message {
  display: inline;
  color: red;
}

.textfield.error > input {
  border: 1px solid red; /* Add this line to set the border color to red for error state */
}

/* Responsive */

/* Add this style for small screens */
@media (max-width: 600px) {
  table.list {
    width: 100%;
  }

  table.list tr td,
  table.list tr th {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Add this style for phone-sized screens */
@media (max-width: 400px) {
  table.list tr th {
    font-size: 14px; /* Adjust font size for better readability on smaller screens */
  }
}